.main {
    width: 80%;
    margin: 0 auto;
}
.box {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 60px 0;
}
.box .picture img {
    width: 100%;
}
.box .picture img[src="dog1.jpg"] {
    box-shadow: 0 5px 7px rgba(0,0,0,0.5);
    border: 18px solid white;
    width: 60%;
    transform: rotate(15deg)
}