* {
    border: 0.5px solid rgba(0,0,0,0);
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體;
}
.nav ul {
    float: right;
}
.nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
.nav .logo {
    font-size: 30px;
}
.nav .logo .red {
    color: indianred;
} 
.nav .logo .dog {
    font-weight: bold;
}
.nav .logo .red, .nav ul li a.red {
    color: indianred;
}
.nav a {
    color:#757575;
    text-decoration: none;
    font-weight: 500;
}