link(rel="stylesheet", href="nav.css")
.nav 
     span.logo #[span.dog Dog] Life#[span.red .]
     ul
       li #[a(href="#" class="red") 首頁]
       li #[a(href="#") 關於]
       li #[a(href="#") 價格]
       li #[a(href="#") 聯絡]